:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --blue-color-light: #cce3ff;
  --orange-color: #f59e0b;
  --orange-color-light: #fdecce;
  --red-color: #f44336;
  --green-color: #22c55e;
  --green-color-light: #d3f3df;
  --grey-color: #888;
  --light-grey-color: #ccc;
  --lightest-grey-color: #eee;
}
/*mix*/
.hide-overflow {
  overflow: hidden;
}
.resize-none {
  resize: none;
}
.cursor-pointer {
  cursor: pointer;
}
/*mix*/
/*start padding and margin*/
.p-0 {
  padding: 0;
}
.p-2 {
  padding: 2px;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-0 {
  padding-top: 0px;
}
.pt-5 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pr-0 {
  padding-right: 0px;
}
.pr-5 {
  padding-right: 5px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-15 {
  padding-right: 15px;
}
.pr-20 {
  padding-right: 20px;
}
.pb-0 {
  padding-bottom: 0px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-0 {
  padding-left: 0px;
}
.pl-5 {
  padding-left: 5px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-30 {
  padding-left: 30px;
}
.m-0 {
  margin: 0px;
}
.m-5 {
  margin: 5px;
}
.m-10 {
  margin: 10px;
}
.m-15 {
  margin: 51px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-32-neg {
  margin-top: -32px;
}
.mr-0 {
  margin-right: 0px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}
.ml-0 {
  margin-left: 0px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-auto {
  margin-left: auto;
}
/*end padding and margin*/

/*start position*/
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
/*end position*/
/*start left and right*/
.top-0 {
  top: 0px;
}
.top-5 {
  top: 5px;
}
.top-10 {
  top: 10px;
}
.top-15 {
  top: 15px;
}
.top-20 {
  top: 20px;
}
.right-0 {
  right: 0px;
}
.right-5 {
  right: 5px;
}
.right-10 {
  right: 10px;
}
.right-15 {
  right: 15px;
}
.right-17-neg {
  right: -17px;
}
.right-20 {
  right: 20px;
}
.bottom-0 {
  bottom: 0px;
}
.bottom-5 {
  bottom: 5px;
}
.bottom-10 {
  bottom: 10px;
}
.bottom-15 {
  bottom: 15px;
}
.bottom-20 {
  bottom: 20px;
}
.left-0 {
  left: 0px;
}
.left-5 {
  left: 5px;
}
.left-10 {
  left: 10px;
}
.left-15 {
  left: 15px;
}
.left-20 {
  left: 20px;
}

/*end left and right*/

/*start flex*/
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.d-grid {
  display: grid;
}
.d-flex {
  display: flex;
}
.flex-dir-col {
  flex-direction: column;
}
.ai-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.flex-1 {
  flex: 1;
}
.d-block {
  display: block;
}
/*end flex*/

/*start font*/
.ta-center {
  text-align: center;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-bold {
  font-weight: bold;
}
/*end font*/

/*start width*/
.width-15 {
  width: 15px;
}
.width-35 {
  width: 35px;
}
.width-60 {
  width: 60px;
}
.width-64 {
  width: 64px;
}
.width-80 {
  width: 80px;
}
.width-200 {
  width: 200px;
}
.width-fit {
  width: fit-content;
}
.height-5 {
  height: 5px;
}
.height-60 {
  height: 60px;
}
.height-64 {
  height: 64px;
}
.height-80 {
  height: 80px;
}
.height-160 {
  height: 160px;
}
.full-width {
  width: 100%;
}
/*end width*/

/*start border*/
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-50 {
  border-radius: 50%;
}
.border-none {
  border: none;
}
.border-grey {
  border: 1px solid var(--light-grey-color);
}
.border-white-2 {
  border: white solid 2px;
}
.border-top-lightest-grey {
  border-top: 1px solid var(--lightest-grey-color);
}
.border-bottom-lightest-grey {
  border-bottom: 1px solid var(--lightest-grey-color);
}
/*end border*/
/*start box shadow*/
.box-shadow-ddd {
  box-shadow: 0 0 5px #ddd;
}
/*end box shadow*/

/*start color and background*/
.bg-white {
  background-color: white;
}
.bg-lightest-grey {
  background-color: var(--lightest-grey-color);
}
.bg-blue-color {
  background-color: var(--blue-color);
}
.bg-blue-color-light {
  background-color: var(--blue-color-light);
}
.bg-orange-color {
  background-color: var(--orange-color);
}
.bg-orange-color-light {
  background-color: var(--orange-color-light);
}
.bg-green-color {
  background-color: var(--green-color);
}
.bg-green-color-light {
  background-color: var(--green-color-light);
}
.c-black {
  color: black;
}
.c-lighter-grey {
  color: #ccc;
}
.c-grey {
  color: var(--grey-color);
}
.c-white {
  color: white;
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-green {
  color: var(--green-color);
}
/*end color and background*/
/*start transition*/
.trans {
  transition: 0.3s;
}
/*end transition*/

/*start display none on mobile media*/
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
  .flex-dir-col-mobile {
    flex-direction: column;
    gap: 20px;
  }
  .reset-left-mobile {
    left: 0px;
  }
  .ta-center-mobile {
    text-align: center;
  }
}
/*end display none on mobile media*/
/*start component*/
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  padding: 4px 10px;
  border-radius: 6px;
}
/*end component*/
