:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --red-color: #f44336;
  --grey-color: #888;
  --light-grey-color: #ccc;
}
/*start padding and margin*/
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.p-15 {
  padding: 15px;
}
.pl-30 {
  padding-left: 30px;
}
.m-0 {
  margin: 0px;
}
.mt-0 {
  margin-top: 0px;
}
.mb-5 {
  margin-bottom: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
/*end padding and margin*/

/*start position*/
.relative {
  position: relative;
}
/*end position*/

/*start flex*/
.d-flex {
  display: flex;
}
.ai-center {
  align-items: center;
}
/*end flex*/

/*start font*/
.ta-center {
  text-align: center;
}
.fs-14 {
  font-size: 14px;
}
.fs-13 {
  font-size: 13px;
}
.justify-between {
  justify-content: space-between;
}
/*end font*/

/*start width*/
.width-35 {
  width: 35px;
}
.full-width {
  width: 100%;
}
/*end width*/

/*start border*/
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.border-grey {
  border: 1px solid var(--light-grey-color);
}
.border-none {
  border: none;
}
/*end border*/

/*start color and background*/
.bg-white {
  background-color: white;
}
.c-black {
  color: black;
}
.c-ccc {
  color: #ccc;
}
/*end color and background*/
/*start transition*/
.trans {
  transition: 0.3s;
}
/*end transition*/

/*start display none on mobile media*/
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
/*end display none on mobile media*/
/*start component*/
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*end component*/
