:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --blue-color-light: #cce3ff;
  --orange-color: #f59e0b;
  --orange-color-light: #fdecce;
  --red-color: #f44336;
  --grey-color: #888;
  --light-grey-color: #ccc;
  --lighter-grey-color: #ddd;
  --main-transition-duration: 0.3s;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'open sans', 'sans-serif';
}
*:focus {
  outline: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
a {
  text-decoration: none;
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
.content {
  overflow: hidden;
}
/* start main title component*/
.main-title::before {
  content: '';
  position: absolute;
  width: 125px;
  height: 3px;
  bottom: -15px;
  left: 0;
  background: linear-gradient(to right, black 35%, white 35%, white 100%);
}
/* end main title component*/

/* start wrapper component*/
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

@media (max-width: 767px) {
  .wrapper {
    gap: 10px;
    margin: 0px 10px 10px;
    grid-template-columns: minmax(200px, 1fr);
  }
}
/* end wrapper component*/

/* start box component */
@media (max-width: 767px) {
  .box {
    text-align: center;
    display: block;
  }
}

/* end box component */

/*start sidebar*/
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px var(--lighter-grey-color);
}
.sidebar-title {
  margin-bottom: 50px;
}
.sidebar ul a:hover,
.sidebar ul a.active {
  background-color: #f6f6f6;
}

@media (min-width: 768px) {
  .sidebar-title::after,
  .sidebar-title::before {
    content: '';
    position: absolute;
    left: 50%;
    background-color: black;
    transform: translateX(-50%);
  }
  .sidebar-title::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
  }
  .sidebar-title::after {
    width: 12px;
    height: 12px;
    bottom: -29px;
    border-radius: 50%;
    border: 4px solid white;
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar-title {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sidebar ul li a {
    justify-content: center;
  }
}
/*end sidebar*/
/*start navbar*/
nav .search::before {
  font-family: var(--fa-style-family-classic);
  content: '\f002';
  font-weight: 900;
  left: 15px;
  bottom: 50%;
  position: absolute;
  transform: translateY(50%);
  font-size: 14px;
  color: var(--grey-color);
}
nav .search input {
  width: 160px;
  transition: width var(--main-transition-duration);
}
/*TODO:// vertical align the placeholder*/
nav .search input::placeholder {
}
nav .search input:focus {
  outline: 1px solid var(--lighter-grey-color);
  width: 200px;
}
nav .search input:focus::placeholder {
  opacity: 0;
}
nav .icons i::after {
  content: attr(notifications);
  position: absolute;
  width: 12px;
  height: 12px;
  top: -15px;
  right: -6px;
  background-color: var(--red-color);
  border-radius: 50%;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 2px solid white;
}
/*end navbar*/
.welcome .profile-link:hover {
  background-color: var(--blue-alt-color);
}
.quick-draft .save:hover {
  background-color: var(--blue-color);
}
.yearly-target .progress-bar::before {
  content: '';
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  bottom: 5px;
  right: -5px;
}
.yearly-target .money-progress::before {
  border-top-color: var(--blue-color);
}
.yearly-target .project-progress::before {
  border-top-color: var(--orange-color);
}
.yearly-target .team-progress::before {
  border-top-color: var(--green-color);
}

.tickets-statistics .box {
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .tickets-statistics .box {
    width: 100%;
  }
}

/*start latest tasks*/
.latest-tasks .delete-icon:hover {
  color: var(--red-color);
  cursor: pointer;
}
.latest-tasks .done {
  opacity: 0.3;
}
.latest-tasks .done h3,
.latest-tasks .done p {
  text-decoration: line-through;
}
.latest-tasks .done .delete-icon {
  color: var(--light-grey-color);
}
.latest-tasks .done .delete-icon:hover {
  color: var(--red-color);
}
/*start latest tasks*/
/*start last project*/
.last-project img {
  opacity: 0.2;
}
.last-project ul::before {
  content: '';
  position: absolute;
  height: 100%;
  transform: translateX(50%);
  background-color: var(--blue-color);
  left: 10px;
  width: 2px;
}
.last-project li::before {
  content: '';
  min-width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  z-index: 1;
  margin-right: 15px;
}
.last-project li.done::before {
  background-color: var(--blue-color);
}
.last-project li.current:before {
  animation: on-and-off 0.8s infinite alternate;
}
/*end last project*/
/*start reminder*/
.reminder li::before {
  content: '';
  min-height: 15px;
  min-width: 15px;
  border-radius: 50%;
  margin-right: 15px;
}
.reminder li.blue::before {
  background-color: var(--blue-color);
}
.reminder li.blue > div {
  border-left: 2px solid var(--blue-color);
}
.reminder li.green::before {
  background-color: var(--green-color);
}
.reminder li.green > div {
  border-left: 2px solid var(--green-color);
}
.reminder li.orange::before {
  background-color: var(--orange-color);
}
.reminder li.orange > div {
  border-left: 2px solid var(--orange-color);
}
.reminder li.red::before {
  background-color: var(--red-color);
}
.reminder li.red > div {
  border-left: 2px solid var(--red-color);
}
/*end reminder*/
/*start latest post*/
.latest-post .post-content {
  line-height: 1.8;
  min-height: 140px;
}
/*end latest post*/
/*start social media*/
.social-media .box .icon i {
  width: 52px;
}
.social-media .box .icon i:hover {
  transform: rotate(5deg);
}
/*end social media*/
/*start projects*/
.projects .responsive-table {
  overflow-x: auto;
}
.projects .responsive-table table {
  min-width: 950px;
  border-collapse: collapse;
}
.projects table tbody tr:hover td {
  background-color: #faf7f7;
}
.projects table th {
  text-align: left;
  padding: 15px;
}
.projects table td {
  padding: 15px;
  border: 1px solid var(--lightest-grey-color);
  transition: var(--main-transition-duration);
}
.projects .team img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.projects .team img:not(:first-child) {
  margin-left: -20px;
  right: 20px;
}
/*end projects*/

@keyframes on-and-off {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: white;
  }
}
